<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Admin Panel</title>
</head>
<body>
<h1>Admin Panel!</h1>

<h2>Books</h2>
<div th:each="book : ${books}">
  <div th:text="${book.id}"></div>
  <div th:text="${book.title}"></div>
  <div th:text="${book.author}"></div>
  <div th:text="${'Cena: ' + book.price + ' zl'}"></div>
  <div th:text="${'Ilość: ' + book.quantity}"></div>
  <a th:href="@{/book/update/{id}(id=${book.id})}">Edytuj</a>
  <form method="post" th:action="@{/book/delete}">
    <input type="hidden" th:name="id" th:value="${book.id}">
    <input type="submit" value="Usuń">
  </form>
</div>

<form th:action="@{/book/add}" method="get">
  <button type="submit">Dodaj</button>
</form>

<h2>Orders</h2>
<div th:each="order : ${orders}">
  <div>Order ID: <span th:text="${order.id}"></span></div>
  <div>Date: <span th:text="${order.date}"></span></div>
  <div>Status: <span th:text="${order.status}"></span></div>
  <div>User: <span th:text="${order.user.username}"></span></div>
  <h3>Items</h3>
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${order.items}">
      <td th:text="${item.book.title}"></td>
      <td th:text="${item.book.author}"></td>
      <td th:text="${item.book.price}"></td>
      <td th:text="${item.quantity}"></td>
    </tr>
    </tbody>
  </table>
  <form th:action="@{/adminpanel/updateOrderStatus}" method="post">
    <input type="hidden" name="orderId" th:value="${order.id}">
    <select name="status">
      <option value="SUBMITTED" th:selected="${order.status} == 'SUBMITTED'">SUBMITTED</option>
      <option value="PAID" th:selected="${order.status} == 'PAID'">PAID</option>
      <option value="SHIPPED" th:selected="${order.status} == 'SHIPPED'">SHIPPED</option>
      <option value="COMPLETED" th:selected="${order.status} == 'COMPLETED'">COMPLETED</option>
    </select>
    <button type="submit">Update Status</button>
  </form>
</div>

<form th:action="@{/logout}" method="post">
  <button type="submit">Wyloguj się</button>
</form>

</body>
</html>
